# Database
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# Server
PORT=5000
NODE_ENV="development"

# JWT Access Token
JWT_ACCESS_SECRET="your-access-secret-key-here"
ACCESS_TOKEN_EXPIRES="10m"

# JWT Refresh Token
JWT_REFRESH_SECRET="your-refresh-secret-key-here"
REFRESH_TOKEN_EXPIRES="1day"
